# 1.- Configuracion Entorno Spark

In [0]:
# Descargamos spark con hadoop y Java
#JAVA
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#SPARK
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
# Seteamos las variables de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
# Creamos la conexion a Spark 
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
spark

# 2.- Importacion de Librerias

In [0]:
# LIbrerias Spark
from pyspark.sql import functions as F

#Librerias Python
import pandas as pd

# 3.- Importacion de Datos

In [0]:
# Usamos la librería files de colab
from google.colab import files
uploaded = files.upload()

Saving 2015-summary.csv to 2015-summary.csv

## 3.1. Importacion desde un csv

Para importar datos desde un csv utilizamos el comando **spark.read.csv**

Sintaxis más utilizada:
**dfsSpark = spark.read.csv(DATA_PATH + file_name, sep = ',', header=True, inferSchema=True)**

In [0]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    :param path: string, or list of strings, for input path(s),
                 or RDD of Strings storing CSV rows.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema
                   or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param sep: sets a single character as a separator for each field and value.
                If None is set, it uses the default value, ``,``.
    :param encoding: decodes the CSV files by the given encoding type. If None is set,
                     it uses the default value, ``UTF-8``.
    :param quote: sets a single character used for escaping quoted values where the
                  separator can be part of the value. If None is set, it uses the default
                  value, ``"``. If you would like to turn off quotations, you need to set an
                  empty string.
    :param escape: sets a single character used for escaping quotes inside an already
                   quoted value. If None is set, it uses the default value, ``\``.
    :param comment: sets a single character used for skipping lines beginning with this
                    character. By default (None), it is disabled.
    :param header: uses the first line as names of columns. If None is set, it uses the
                   default value, ``false``.
    :param inferSchema: infers the input schema automatically from data. It requires one extra
                   pass over the data. If None is set, it uses the default value, ``false``.
    :param enforceSchema: If it is set to ``true``, the specified or inferred schema will be
                          forcibly applied to datasource files, and headers in CSV files will be
                          ignored. If the option is set to ``false``, the schema will be
                          validated against all headers in CSV files or the first header in RDD
                          if the ``header`` option is set to ``true``. Field names in the schema
                          and column names in CSV headers are checked by their positions
                          taking into account ``spark.sql.caseSensitive``. If None is set,
                          ``true`` is used by default. Though the default value is ``true``,
                          it is recommended to disable the ``enforceSchema`` option
                          to avoid incorrect results.
    :param ignoreLeadingWhiteSpace: A flag indicating whether or not leading whitespaces from
                                    values being read should be skipped. If None is set, it
                                    uses the default value, ``false``.
    :param ignoreTrailingWhiteSpace: A flag indicating whether or not trailing whitespaces from
                                     values being read should be skipped. If None is set, it
                                     uses the default value, ``false``.
    :param nullValue: sets the string representation of a null value. If None is set, it uses
                      the default value, empty string. Since 2.0.1, this ``nullValue`` param
                      applies to all supported types including the string type.
    :param nanValue: sets the string representation of a non-number value. If None is set, it
                     uses the default value, ``NaN``.
    :param positiveInf: sets the string representation of a positive infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param negativeInf: sets the string representation of a negative infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param maxColumns: defines a hard limit of how many columns a record can have. If None is
                       set, it uses the default value, ``20480``.
    :param maxCharsPerColumn: defines the maximum number of characters allowed for any given
                              value being read. If None is set, it uses the default value,
                              ``-1`` meaning unlimited length.
    :param maxMalformedLogPerPartition: this parameter is no longer used since Spark 2.2.0.
                                        If specified, it is ignored.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``. Note that Spark tries to
                 parse only required columns in CSV under column pruning. Therefore, corrupt
                 records can be different based on required set of fields. This behavior can
                 be controlled by ``spark.sql.csv.parser.columnPruning.enabled``
                 (enabled by default).

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string \
              into a field configured by ``columnNameOfCorruptRecord``, and sets other \
              fields to ``null``. To keep corrupt records, an user can set a string type \
              field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
              schema does not have the field, it drops corrupt records during parsing. \
              A record with less/more tokens than schema is not a corrupted record to CSV. \
              When it meets a record having fewer tokens than the length of the schema, \
              sets ``null`` to extra fields. When the record has more tokens than the \
              length of the schema, it drops extra tokens.
            * ``DROPMALFORMED`` : ignores the whole corrupted records.
            * ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param multiLine: parse records, which may span multiple lines. If None is
                      set, it uses the default value, ``false``.
    :param charToEscapeQuoteEscaping: sets a single character used for escaping the escape for
                                      the quote character. If None is set, the default value is
                                      escape character when escape and quote characters are
                                      different, ``\0`` otherwise.
    :param samplingRatio: defines fraction of rows used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param emptyValue: sets the string representation of an empty value. If None is set, it uses
                       the default value, empty string.

    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

    .. versionadded:: 2.0

In [0]:
# Importamos una data csv
from google.colab import files
uploaded = files.upload()

Saving 2015-summary.csv to 2015-summary (1).csv

In [0]:
# Importando desde scsv
#header pongo false no me reconoce cabecera
dfsCSV = spark.read.csv('2015-summary.csv', sep = ',', header=True, inferSchema=True)
#.show es como head
dfsCSV.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

Ejercicio 1:
Importar el fichero **salario.csv** y ponerle de nombre dfsSalario

In [0]:
# Importamos una data csv
from google.colab import files
uploaded = files.upload()

Saving salario.csv to salario.csv

In [0]:
# Insertar codigo aqui
# Importando desdes mi file salario.csv
# Para que me reconosca el encabezado se pone header = True
dfsCSV = spark.read.csv('salario.csv', sep = ',', header=True, inferSchema=True)
#.show es como head
dfsCSV.show(5)

+--------+----------+-------------+-----------+----+------+
|    rank|discipline|yrs.since.phd|yrs.service| sex|salary|
+--------+----------+-------------+-----------+----+------+
|    Prof|         B|           19|         18|Male|139750|
|    Prof|         B|           20|         16|Male|173200|
|AsstProf|         B|            4|          3|Male| 79750|
|    Prof|         B|           45|         39|Male|115000|
|    Prof|         B|           40|         41|Male|141500|
+--------+----------+-------------+-----------+----+------+
only showing top 5 rows

## 3.2. Importacion desde un json

Para importar datos desde un csv utilizamos el comando **spark.read.json**

Sintaxis más utilizada:
**dfsSpark = spark.read.json(DATA_PATH + file_name)**

In [0]:
help(spark.read.json)

Help on method json in module pyspark.sql.readwriter:

json(path, schema=None, primitivesAsString=None, prefersDecimal=None, allowComments=None, allowUnquotedFieldNames=None, allowSingleQuotes=None, allowNumericLeadingZero=None, allowBackslashEscapingAnyCharacter=None, mode=None, columnNameOfCorruptRecord=None, dateFormat=None, timestampFormat=None, multiLine=None, allowUnquotedControlChars=None, lineSep=None, samplingRatio=None, dropFieldIfAllNull=None, encoding=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads JSON files and returns the results as a :class:`DataFrame`.

    `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
    For JSON (one record per file), set the ``multiLine`` parameter to ``true``.

    If the ``schema`` parameter is not specified, this function goes
    through the input once to determine the input schema.

    :param path: string represents path to the JSON dataset, or a list of paths,
                 or RDD of Strings storing JSON objects.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema or
                   a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param primitivesAsString: infers all primitive values as a string type. If None is set,
                               it uses the default value, ``false``.
    :param prefersDecimal: infers all floating-point values as a decimal type. If the values
                           do not fit in decimal, then it infers them as doubles. If None is
                           set, it uses the default value, ``false``.
    :param allowComments: ignores Java/C++ style comment in JSON records. If None is set,
                          it uses the default value, ``false``.
    :param allowUnquotedFieldNames: allows unquoted JSON field names. If None is set,
                                    it uses the default value, ``false``.
    :param allowSingleQuotes: allows single quotes in addition to double quotes. If None is
                                    set, it uses the default value, ``true``.
    :param allowNumericLeadingZero: allows leading zeros in numbers (e.g. 00012). If None is
                                    set, it uses the default value, ``false``.
    :param allowBackslashEscapingAnyCharacter: allows accepting quoting of all character
                                               using backslash quoting mechanism. If None is
                                               set, it uses the default value, ``false``.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``.

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string                   into a field configured by ``columnNameOfCorruptRecord``, and sets other                   fields to ``null``. To keep corrupt records, an user can set a string type                   field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a                   schema does not have the field, it drops corrupt records during parsing.                   When inferring a schema, it implicitly adds a ``columnNameOfCorruptRecord``                   field in an output schema.
            *  ``DROPMALFORMED`` : ignores the whole corrupted records.
            *  ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param multiLine: parse one record, which may span multiple lines, per file. If None is
                      set, it uses the default value, ``false``.
    :param allowUnquotedControlChars: allows JSON Strings to contain unquoted control
                                      characters (ASCII characters with value less than 32,
                                      including tab and line feed characters) or not.
    :param encoding: allows to forcibly set one of standard basic or extended encoding for
                     the JSON files. For example UTF-16BE, UTF-32LE. If None is set,
                     the encoding of input JSON will be detected automatically
                     when the multiLine option is set to ``true``.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\r``, ``\r\n`` and ``\n``.
    :param samplingRatio: defines fraction of input JSON objects used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param dropFieldIfAllNull: whether to ignore column of all null values or empty
                               array/struct during schema inference. If None is set, it
                               uses the default value, ``false``.

    >>> df1 = spark.read.json('python/test_support/sql/people.json')
    >>> df1.dtypes
    [('age', 'bigint'), ('name', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/people.json')
    >>> df2 = spark.read.json(rdd)
    >>> df2.dtypes
    [('age', 'bigint'), ('name', 'string')]

    .. versionadded:: 1.4

In [0]:
# Importamos una data json
from google.colab import files
uploaded = files.upload()

Saving 2015-summary.json to 2015-summary.json

In [0]:
# Importando desde json
dfsJson = spark.read.json('2015-summary.json')
dfsJson.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

## 3.3. Importacion desde un txt

Para importar datos desde un csv utilizamos el comando **spark.read.text**

Sintaxis más utilizada:
**dfsSpark = spark.read.text(DATA_PATH + file_name)**

In [0]:
help(spark.read.text)

Help on method text in module pyspark.sql.readwriter:

text(paths, wholetext=False, lineSep=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads text files and returns a :class:`DataFrame` whose schema starts with a
    string column named "value", and followed by partitioned columns if there
    are any.

    By default, each line in the text file is a new row in the resulting DataFrame.

    :param paths: string, or list of strings, for input path(s).
    :param wholetext: if true, read each file from input path(s) as a single row.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\r``, ``\r\n`` and ``\n``.

    >>> df = spark.read.text('python/test_support/sql/text-test.txt')
    >>> df.collect()
    [Row(value='hello'), Row(value='this')]
    >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
    >>> df.collect()
    [Row(value='hello\nthis')]

    .. versionadded:: 1.6

In [0]:
# Importamos una data csv
from google.colab import files
uploaded = files.upload()

Saving salario.txt to salario.txt

In [0]:
# Importando desde txt
dfsTxt = spark.read.csv('salario.txt')
dfsTxt.show(5)

+--------+----------+-------------+-----------+----------+------+
|     _c0|       _c1|          _c2|        _c3|       _c4|   _c5|
+--------+----------+-------------+-----------+----------+------+
|    rank|discipline|yrs_since_phd|yrs_service|       sex|salary|
|    Prof|         B|           19|         18|Male      |139750|
|    Prof|         B|           20|         16|Male      |173200|
|AsstProf|         B|            4|          3|Male      | 79750|
|    Prof|         B|           45|         39|Male      |115000|
+--------+----------+-------------+-----------+----------+------+
only showing top 5 rows

## 3.4. Importacion desde un parquet

Para importar datos desde un csv utilizamos el comando **spark.read.parquet**

Sintaxis más utilizada:
**dfsSpark = spark.read.parquet(DATA_PATH + file_name)**

In [0]:
help(spark.read.parquet)

Help on method parquet in module pyspark.sql.readwriter:

parquet(*paths) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads Parquet files, returning the result as a :class:`DataFrame`.

    You can set the following Parquet-specific option(s) for reading Parquet files:
        * ``mergeSchema``: sets whether we should merge schemas collected from all                 Parquet part-files. This will override ``spark.sql.parquet.mergeSchema``.                 The default value is specified in ``spark.sql.parquet.mergeSchema``.

    >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
    >>> df.dtypes
    [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]

    .. versionadded:: 1.4

In [0]:
# Importamos una data parquet
from google.colab import files
uploaded = files.upload()

Saving part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet to part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet

In [0]:
# Importando desde parquet
dfsParquet = spark.read.parquet('part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet')
dfsParquet.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

## 3.5. Importacion desde un pandas Dataframe

Para importar datos desde un csv utilizamos el comando **spark.createDataFrame()**

Sintaxis más utilizada:
**dfsSpark = spark.createDataFrame(pandasDataframe)**

In [0]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of either :class:`Row`,
    :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
    Each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation (e.g. row, tuple, int, boolean,
        etc.), :class:`list`, or :class:`pandas.DataFrame`.
    :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is ``None``.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`. We can also use
        ``int`` as a short name for ``IntegerType``.
    :param samplingRatio: the sample ratio of rows used for inferring
    :param verifySchema: verify data types of every row against schema.
    :return: :class:`DataFrame`

    .. versionchanged:: 2.1
       Added verifySchema.

    .. note:: Usage with spark.sql.execution.arrow.enabled=True is experimental.

    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 2.0

In [0]:
# Importamos una data parquet
from google.colab import files
uploaded = files.upload()

Saving morosidad.csv to morosidad.csv

In [0]:
# Importando desde csv
dfpMorosidad = pd.read_csv('morosidad.csv')
dfpMorosidad.head(5)

   ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel
0   1    28    122        9   1115.09    206              4     1      5
1   2    27    173       61   2450.00    205              2     1      5
2   3    37    185        4   1390.00    177              2     3      5
3   4    34    262       20   2200.00    216              2     1      2
4   5    40    150       17  10000.00    185              2     1      2

In [0]:
# Verificando tipo de dato
type(dfpMorosidad)

pandas.core.frame.DataFrame

In [0]:
# Convirtiendo a Spark Dataframe
dfsMorosidad = spark.createDataFrame(dfpMorosidad)
dfsMorosidad.show(5)

+---+----+-----+-------+-------+-----+-------------+----+-----+
| ID|edad|meses|max_ant|ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+-------+-----+-------------+----+-----+
|  1|  28|  122|      9|1115.09|  206|            4|   1|    5|
|  2|  27|  173|     61| 2450.0|  205|            2|   1|    5|
|  3|  37|  185|      4| 1390.0|  177|            2|   3|    5|
|  4|  34|  262|     20| 2200.0|  216|            2|   1|    2|
|  5|  40|  150|     17|10000.0|  185|            2|   1|    2|
+---+----+-----+-------+-------+-----+-------------+----+-----+
only showing top 5 rows

In [0]:
# Verificando tipo de dato
type(dfsMorosidad)

pyspark.sql.dataframe.DataFrame

# 4.- Información básica de DataFrames



## 4.1. Previsualización

**show** es un método que muestra por pantalla _n_ filas del DataFrame.

In [0]:
dfsCSV.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows



## 4.2. Dimensiones

En Spark, no existe un método *shape*, por lo que hay que contar por separados las filas y las columnas.

In [0]:
# Contando el numero de filas
dfsCSV.count()

256



`columns` es un atributo que contiene los nombres de las columnas del DataFrame.

In [0]:
dfsCSV.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

In [0]:
len(dfsCSV.columns)

3



## 4.3. Schema

El schema de un dataframe nos muestra como se interpretaran los datos. Esto no significa que los datos estén así. _schema_ es un atributo del objeto, no un método. _printSchema()_ es un método que muestra una versión más entendidible del _schema_.

In [0]:
dfsCSV.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,IntegerType,true)))

In [0]:
dfsCSV.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)



## 4.3. dtypes

El atributo `dtypes` contiene los nombres de las columnas del dataframe junto con su tipo. Esto permite seleccionar nombres de columnas basados en el tipo, normalmente las variables categóricas (string y boolean) tienen tratamientos distintos a las numéricas (enteras y decimales).

In [0]:
dfsCSV.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'int')]

# 5.- Operaciones con Dataframes de Spark

In [0]:
# Importamos la data del Titanic
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
dfsTitanic = spark.read.csv('train.csv', header=True, inferSchema=True)

In [0]:
dfsTitanic.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [0]:
dfsTitanic.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

## 5.1. Select

Filtra las columnas que deseamos mostrar

In [0]:
# Forma 1
dfsTitanic.select('Name','Sex','Age').show(5)

+--------------------+------+----+
|                Name|   Sex| Age|
+--------------------+------+----+
|Braund, Mr. Owen ...|  male|22.0|
|Cumings, Mrs. Joh...|female|38.0|
|Heikkinen, Miss. ...|female|26.0|
|Futrelle, Mrs. Ja...|female|35.0|
|Allen, Mr. Willia...|  male|35.0|
+--------------------+------+----+
only showing top 5 rows

In [0]:
# Forma 2
#Para hacer cualquier tipo de especificación
#dfsTitanic.select(F.col('Name').alias('ken'), F.col('Sex'), F.col('Age')+2).show(5)
dfsTitanic.select(F.col('Name'), F.col('Sex'), F.col('Age')).show(5)

+--------------------+------+----+
|                Name|   Sex| Age|
+--------------------+------+----+
|Braund, Mr. Owen ...|  male|22.0|
|Cumings, Mrs. Joh...|female|38.0|
|Heikkinen, Miss. ...|female|26.0|
|Futrelle, Mrs. Ja...|female|35.0|
|Allen, Mr. Willia...|  male|35.0|
+--------------------+------+----+
only showing top 5 rows

In [0]:
# Forma 3
columnas = ['Name','Sex','Age']
dfsTitanic.select(columnas).show(5)

+--------------------+------+----+
|                Name|   Sex| Age|
+--------------------+------+----+
|Braund, Mr. Owen ...|  male|22.0|
|Cumings, Mrs. Joh...|female|38.0|
|Heikkinen, Miss. ...|female|26.0|
|Futrelle, Mrs. Ja...|female|35.0|
|Allen, Mr. Willia...|  male|35.0|
+--------------------+------+----+
only showing top 5 rows

In [0]:
# Combinando las tres formas
columnas = ['Name','Sex','Age']
dfsTitanic.select('PassengerId', F.col('Ticket'), *columnas).show(5)

+-----------+----------------+--------------------+------+----+
|PassengerId|          Ticket|                Name|   Sex| Age|
+-----------+----------------+--------------------+------+----+
|          1|       A/5 21171|Braund, Mr. Owen ...|  male|22.0|
|          2|        PC 17599|Cumings, Mrs. Joh...|female|38.0|
|          3|STON/O2. 3101282|Heikkinen, Miss. ...|female|26.0|
|          4|          113803|Futrelle, Mrs. Ja...|female|35.0|
|          5|          373450|Allen, Mr. Willia...|  male|35.0|
+-----------+----------------+--------------------+------+----+
only showing top 5 rows

**Ejercicio 2:
Genere una consulta que seleccione las columnas 'Survived', Ticket y Cabin**

In [0]:
# Resolver Aqui
dfsTitanic.select(F.col('Survived'), F.col('Ticket'), F.col('Cabin')).show(5)

+--------+----------------+-----+
|Survived|          Ticket|Cabin|
+--------+----------------+-----+
|       0|       A/5 21171| null|
|       1|        PC 17599|  C85|
|       1|STON/O2. 3101282| null|
|       1|          113803| C123|
|       0|          373450| null|
+--------+----------------+-----+
only showing top 5 rows

In [0]:
# Combinando las tres formas
columnas = ['Name','Sex','Age']
dfsTitanic.select(*columnas, F.col('Survived'), F.col('Ticket'), F.col('Cabin')).show(5)

+--------------------+------+----+--------+----------------+-----+
|                Name|   Sex| Age|Survived|          Ticket|Cabin|
+--------------------+------+----+--------+----------------+-----+
|Braund, Mr. Owen ...|  male|22.0|       0|       A/5 21171| null|
|Cumings, Mrs. Joh...|female|38.0|       1|        PC 17599|  C85|
|Heikkinen, Miss. ...|female|26.0|       1|STON/O2. 3101282| null|
|Futrelle, Mrs. Ja...|female|35.0|       1|          113803| C123|
|Allen, Mr. Willia...|  male|35.0|       0|          373450| null|
+--------------------+------+----+--------+----------------+-----+
only showing top 5 rows

## 5.2. Filter - Where

filtra registros segun cumplan la condicion.

In [0]:
# Forma 1
dfsTitanic.where("Sex = 'male'").show(5)

+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|35.0|    0|    0|   373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|   330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|male|54.0|    0|    0|    17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|   349909| 21.075| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
only showing top 5 rows

In [0]:
# Forma 2
dfsTitanic.where(F.col('Sex') == 'male').show(5)

+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|35.0|    0|    0|   373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|   330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|male|54.0|    0|    0|    17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|   349909| 21.075| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+-------+-----+--------+
only showing top 5 rows

**Ejercicio 3:
Genere una consulta que liste los pasajeros cuya edad sea mayor a cuarenta**

In [0]:
# Resolver aqui
dfsTitanic.where(F.col('Age') >= 40).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|     17463|51.8625|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|    113783|  26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|    248706|   16.0| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|  PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|C.A. 24579|   10.5| null|       S|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|    113789|   52.0| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|      7546|  9.475| null|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|  PC 17572|76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|    113509|61.9792|  B30|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|     36973| 83.475|  C83|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----+--------+
only showing top 10 rows

In [0]:
# Varios valores - Forma 1
dfsTitanic.where("Pclass in ('1', '2')").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1| C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|  E46|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736|30.0708| null|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55| C103|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

In [0]:
# Varios valores - Forma 2
dfsTitanic.where(F.col('Pclass').isin('1', '2')).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1| C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|  E46|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736|30.0708| null|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55| C103|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

In [0]:
# Varios valores - Forma 3
clases = ['1', '2']
dfsTitanic.where(F.col('Pclass').isin(clases)).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1| C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|  E46|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736|30.0708| null|       C|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|  248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|  244373|   13.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|  239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|  248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|  113788|   35.5|   A6|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 10 rows

**Ejercicio 4:
Genere una consulta que liste los pasajeros que tienen los tickets C103 o A6**

In [0]:
# Responder aca
#NO HAY TICKETS CON LOS VALORES C103 O A6
clases_1 = ['C103', 'A6']
dfsTitanic.where(F.col('Ticket').isin(clases_1)).show(10)

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [0]:
#BUSCAMOS OTROS TICKETS 
clases_1 = ['A/5 21171', '2926']
dfsTitanic.where(F.col('Ticket').isin(clases_1)).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|7.25| null|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|     2926|26.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+----+-----+--------+

**OJO**: Para negar podemos usar el operador **~**

In [0]:
# Negamos la anterior sentencia
dfsTitanic.where(~F.col('Pclass').isin('1', '2')).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|  7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282| 7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|  8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877|8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|21.075| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+------+-----+--------+
only showing top 5 rows

**Ejercicio 5:
Genere una consulta que liste los pasajeros que no tengan Embarque ni 'S' ni 'Q'**

In [0]:
# Resolver aqui
dfsTitanic.where(~F.col('Embarked').isin('S', 'Q')).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736|30.0708| null|       C|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|    2649|  7.225| null|       C|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|    2631|  7.225| null|       C|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|PC 17601|27.7208| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows



__Combinación de filtros (AND / OR)__

__AND__

In [0]:
# Forma 1
dfsTitanic.where("Sex = 'female' and Pclass = '2'").show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|       248706|   16.0| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|        11668|   21.0| null|       S|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|         2926|   26.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 5 rows

In [0]:
# Forma 2
dfsTitanic.where((F.col('Sex') == 'female') & (F.col('Pclass') == '2')).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|       248706|   16.0| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|        11668|   21.0| null|       S|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|         2926|   26.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 5 rows

**Ejercicio 6:
Genere una consulta que liste los pasajeros que hayan sobrevivido y sean menores a 25 años**

In [0]:
dfsTitanic.where((F.col('Survived') == '1') & (F.col('Age') < '25')).show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|      PP 9549|   16.7|   G6|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|       330923| 8.0292| null|       Q|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651|11.2417| null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----+--------+
only showing top 5 rows

__OR__

In [0]:
# Forma 1
dfsTitanic.where("Pclass = '2' or Sex = 'female'").show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [0]:
# Forma 2
dfsTitanic.where((F.col('Pclass') == '2') | (F.col('Sex') == 'female')).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

Ejercicio 7:
Genere una consulta que liste los pasajeros que no hayan sobrevivido o no sean menores a 25 años**

In [0]:
# Resolver aqui
dfsTitanic.where((F.col('Survived') == '0') | (F.col('Sex') < '25')).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|   373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|   330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|    17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|   349909| 21.075| null|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|   347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|   350406| 7.8542| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|   382652| 29.125| null|       Q|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|   345763|   18.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 10 rows

## 5.3. Group By

Resume los registros en grupos

In [0]:
# Count
dfsTitanic.groupBy('survived').count().show(5)

+--------+-----+
|survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

In [0]:
# SUM
#dfsTitanic.groupBy('Pclass').sum('age').topandas
dfsTitanic.groupBy('Pclass').sum('age').show(5)

+------+--------+
|Pclass|sum(age)|
+------+--------+
|     1| 7111.42|
|     3| 8924.92|
|     2| 5168.83|
+------+--------+

In [0]:
# Combinando las dos formas
#dfsTitanic.groupBy('Survived').agg(F.countDistinc('*'), F.sum('age')).show(5)
dfsTitanic.groupBy('Survived').agg(F.count('*'), F.sum('age')).show(5)

+--------+--------+--------+
|Survived|count(1)|sum(age)|
+--------+--------+--------+
|       1|     342| 8219.67|
|       0|     549| 12985.5|
+--------+--------+--------+

In [0]:
# Combinando las dos formas
#toPandas() te vota todo
dfsTitanic.groupBy('Survived','Pclass').agg(F.count('*'), F.sum('age')).show(10)

+--------+------+--------+--------+
|Survived|Pclass|count(1)|sum(age)|
+--------+------+--------+--------+
|       1|     2|      87| 2149.83|
|       1|     1|     136| 4314.92|
|       1|     3|     119| 1754.92|
|       0|     1|      80|  2796.5|
|       0|     2|      97|  3019.0|
|       0|     3|     372|  7170.0|
+--------+------+--------+--------+

**OJO:** Si se quiere renombrar las columnas, usar el comando **alias**

In [0]:
# Combinando las dos formas
dfsTitanic.groupBy('Survived').agg(F.count('*').alias('cuenta'), F.sum('age').alias('edad')).show(5)

+--------+------+-------+
|Survived|cuenta|   edad|
+--------+------+-------+
|       1|   342|8219.67|
|       0|   549|12985.5|
+--------+------+-------+

Ejercicio 8: Genere una consulta que saque la edad minima, la maxima y el promedio de edad por sexo

In [0]:
# Resuelva aqui
dfsTitanic.groupBy('Sex').agg(F.count('*'), F.max('age'), F.min('age'), F.avg('age')).show(10)

+------+--------+--------+--------+------------------+
|   Sex|count(1)|max(age)|min(age)|          avg(age)|
+------+--------+--------+--------+------------------+
|female|     314|    63.0|    0.75|27.915708812260537|
|  male|     577|    80.0|    0.42| 30.72664459161148|
+------+--------+--------+--------+------------------+

## 5.4. Sort - OrderBy

Ordena los registros segun columna.

In [0]:
# 1 Forma - Ascendente
dfsTitanic.orderBy('Name').show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
|        147|       1|     3|"Andersson, Mr. A...|  male|27.0|    0|    0|    350043|7.7958| null|       S|
|        519|       1|     2|"Angle, Mrs. Will...|female|36.0|    1|    0|    226875|  26.0| null|       S|
|        291|       1|     1|"Barber, Miss. El...|female|26.0|    0|    0|     19877| 78.85| null|       S|
|        625|       0|     3|"Bowen, Mr. David...|  male|21.0|    0|    0|     54636|  16.1| null|       S|
|        508|       1|     1|"Bradley, Mr. Geo...|  male|null|    0|    0|    111427| 26.55| null|       S|
|        346|       1|     2|"Brown, Miss. Ame...|female|24.0|    0|    0|    248733|  13.0|  F33|       S|
|        209|       1|     3|"Carr, Miss. Hele...|female|16.0|    0|    0|    367231|  7.75| null|       Q|
|        205|       1|     3|"Cohen, Mr. Gursh...|  male|18.0|    0|    0|  A/5 3540|  8.05| null|       S|
|        238|       1|     2|"Collyer, Miss. M...|female| 8.0|    0|    2|C.A. 31921| 26.25| null|       S|
|        490|       1|     3|"Coutts, Master. ...|  male| 9.0|    1|    1|C.A. 37671|  15.9| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
only showing top 10 rows

In [0]:
# 2 Forma - Ascendente
dfsTitanic.orderBy(F.col('Name')).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
|        147|       1|     3|"Andersson, Mr. A...|  male|27.0|    0|    0|    350043|7.7958| null|       S|
|        519|       1|     2|"Angle, Mrs. Will...|female|36.0|    1|    0|    226875|  26.0| null|       S|
|        291|       1|     1|"Barber, Miss. El...|female|26.0|    0|    0|     19877| 78.85| null|       S|
|        625|       0|     3|"Bowen, Mr. David...|  male|21.0|    0|    0|     54636|  16.1| null|       S|
|        508|       1|     1|"Bradley, Mr. Geo...|  male|null|    0|    0|    111427| 26.55| null|       S|
|        346|       1|     2|"Brown, Miss. Ame...|female|24.0|    0|    0|    248733|  13.0|  F33|       S|
|        209|       1|     3|"Carr, Miss. Hele...|female|16.0|    0|    0|    367231|  7.75| null|       Q|
|        205|       1|     3|"Cohen, Mr. Gursh...|  male|18.0|    0|    0|  A/5 3540|  8.05| null|       S|
|        238|       1|     2|"Collyer, Miss. M...|female| 8.0|    0|    2|C.A. 31921| 26.25| null|       S|
|        490|       1|     3|"Coutts, Master. ...|  male| 9.0|    1|    1|C.A. 37671|  15.9| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+------+-----+--------+
only showing top 10 rows

In [0]:
# Descendente
dfsTitanic.orderBy(F.col('Age').desc()).show(10)

+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|    Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----+--------+
|        631|       1|     1|Barkworth, Mr. Al...|male|80.0|    0|    0|     27042|   30.0|  A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|male|74.0|    0|    0|    347060|  7.775| null|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|male|71.0|    0|    0|  PC 17754|34.6542|   A5|       C|
|        494|       0|     1|Artagaveytia, Mr....|male|71.0|    0|    0|  PC 17609|49.5042| null|       C|
|        117|       0|     3|Connors, Mr. Patrick|male|70.5|    0|    0|    370369|   7.75| null|       Q|
|        746|       0|     1|Crosby, Capt. Edw...|male|70.0|    1|    1| WE/P 5735|   71.0|  B22|       S|
|        673|       0|     2|Mitchell, Mr. Hen...|male|70.0|    0|    0|C.A. 24580|   10.5| null|       S|
|         34|       0|     2|Wheadon, Mr. Edwa...|male|66.0|    0|    0|C.A. 24579|   10.5| null|       S|
|         55|       0|     1|Ostby, Mr. Engelh...|male|65.0|    0|    1|    113509|61.9792|  B30|       C|
|        281|       0|     3|    Duane, Mr. Frank|male|65.0|    0|    0|    336439|   7.75| null|       Q|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----+--------+
only showing top 10 rows

In [0]:
# Combinando las dos formas
dfsTitanic.sort(F.col('Embarked').asc(), F.col('Age').desc()).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----+--------+
|        830|       1|     1|Stone, Mrs. Georg...|female|62.0|    0|    0|  113572|    80.0|  B28|    null|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|  113572|    80.0|  B28|    null|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|PC 17754| 34.6542|   A5|       C|
|        494|       0|     1|Artagaveytia, Mr....|  male|71.0|    0|    0|PC 17609| 49.5042| null|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|  113509| 61.9792|  B30|       C|
|        588|       1|     1|Frolicher-Stehli,...|  male|60.0|    1|    1|   13567|    79.2|  B41|       C|
|        367|       1|     1|Warren, Mrs. Fran...|female|60.0|    1|    0|  110813|   75.25|  D37|       C|
|        196|       1|     1|Lurette, Miss. Elise|female|58.0|    0|    0|PC 17569|146.5208|  B80|       C|
|        488|       0|     1|Kent, Mr. Edward ...|  male|58.0|    0|    0|   11771|    29.7|  B37|       C|
|        660|       0|     1|Newell, Mr. Arthu...|  male|58.0|    0|    2|   35273| 113.275|  D48|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+-----+--------+
only showing top 10 rows

**Ejercicio 9:
Genere una consulta que ordene por Ticket (ascendente) y por PassengerId (Descendente)**

In [0]:
# Resuelva aqui
dfsTitanic.sort(F.col('Ticket').asc(), F.col('PassengerId').desc()).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-----+-----+--------+
|        760|       1|     1|Rothes, the Count...|female|33.0|    0|    0|110152| 86.5|  B77|       S|
|        505|       1|     1|Maioni, Miss. Rob...|female|16.0|    0|    0|110152| 86.5|  B79|       S|
|        258|       1|     1|Cherry, Miss. Gladys|female|30.0|    0|    0|110152| 86.5|  B77|       S|
|        586|       1|     1| Taussig, Miss. Ruth|female|18.0|    0|    2|110413|79.65|  E68|       S|
|        559|       1|     1|Taussig, Mrs. Emi...|female|39.0|    1|    1|110413|79.65|  E67|       S|
|        263|       0|     1|   Taussig, Mr. Emil|  male|52.0|    1|    1|110413|79.65|  E67|       S|
|        476|       0|     1|Clifford, Mr. Geo...|  male|null|    0|    0|110465| 52.0|  A14|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male|47.0|    0|    0|110465| 52.0| C110|       S|
|        431|       1|     1|Bjornstrom-Steffa...|  male|28.0|    0|    0|110564|26.55|  C52|       S|
|        367|       1|     1|Warren, Mrs. Fran...|female|60.0|    1|    0|110813|75.25|  D37|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-----+-----+--------+
only showing top 10 rows

## Funciones Extras

### Clausula When

In [0]:
dfsTitanic.select(F.col("Age"), F.when(F.col("Age") >= 18, "Mayores de edad").otherwise("Menor de Edad")).show(10)

+----+-----------------------------------------------------------------+
| Age|CASE WHEN (Age >= 18) THEN Mayores de edad ELSE Menor de Edad END|
+----+-----------------------------------------------------------------+
|22.0|                                                  Mayores de edad|
|38.0|                                                  Mayores de edad|
|26.0|                                                  Mayores de edad|
|35.0|                                                  Mayores de edad|
|35.0|                                                  Mayores de edad|
|null|                                                    Menor de Edad|
|54.0|                                                  Mayores de edad|
| 2.0|                                                    Menor de Edad|
|27.0|                                                  Mayores de edad|
|14.0|                                                    Menor de Edad|
+----+-----------------------------------------------------------------+
only showing top 10 rows

In [0]:
dfsTitanic.select(F.col("Age"), F.when(F.col("Age") >= 18, "Mayores de edad").when(F.col('Age').isNull(), 'NULO').otherwise("Menor de Edad")).show(10)

+----+----------------------------------------------------------------------------------------------+
| Age|CASE WHEN (Age >= 18) THEN Mayores de edad WHEN (Age IS NULL) THEN NULO ELSE Menor de Edad END|
+----+----------------------------------------------------------------------------------------------+
|22.0|                                                                               Mayores de edad|
|38.0|                                                                               Mayores de edad|
|26.0|                                                                               Mayores de edad|
|35.0|                                                                               Mayores de edad|
|35.0|                                                                               Mayores de edad|
|null|                                                                                          NULO|
|54.0|                                                                               Mayores de edad|
| 2.0|                                                                                 Menor de Edad|
|27.0|                                                                               Mayores de edad|
|14.0|                                                                                 Menor de Edad|
+----+----------------------------------------------------------------------------------------------+
only showing top 10 rows

### Clausula Like

In [0]:
dfsTitanic.where(F.col("Name").like("%Miss%")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909| 21.075| null|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959| 7.8792| null|       Q|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|          335677|   7.75| null|       Q|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|   18.0| null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651|11.2417| null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123|41.5792| null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958| 7.8792| null|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|           14311|   7.75| null|       Q|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|   10.5| null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|  27.75| null|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|   80.0|  B28|    null|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|         3101281|  7.925| null|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|         CA 2144|   46.9| null|       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|          364516| 12.475| null|       S|
|         83|       1|     3|McDermott, Miss. ...|female|null|    0|    0|          330932| 7.7875| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### Clausula Startswith - Endswith

In [0]:
dfsTitanic.where(F.col("Name").startswith("An")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch| Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5| 347082| 31.275| null|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|3101281|  7.925| null|       S|
|         92|       0|     3|Andreasson, Mr. P...|  male|20.0|    0|    0| 347466| 7.8542| null|       S|
|        120|       0|     3|Andersson, Miss. ...|female| 2.0|    4|    2| 347082| 31.275| null|       S|
|        145|       0|     2|Andrew, Mr. Edgar...|  male|18.0|    0|    0| 231945|   11.5| null|       S|
|        193|       1|     3|Andersen-Jensen, ...|female|19.0|    1|    0| 350046| 7.8542| null|       S|
|        276|       1|     1|Andrews, Miss. Ko...|female|63.0|    1|    0|  13502|77.9583|   D7|       S|
|        461|       1|     1| Anderson, Mr. Harry|  male|48.0|    0|    0|  19952|  26.55|  E12|       S|
|        542|       0|     3|Andersson, Miss. ...|female| 9.0|    4|    2| 347082| 31.275| null|       S|
|        543|       0|     3|Andersson, Miss. ...|female|11.0|    4|    2| 347082| 31.275| null|       S|
|        611|       0|     3|Andersson, Mrs. A...|female|39.0|    1|    5| 347082| 31.275| null|       S|
|        807|       0|     1|Andrews, Mr. Thom...|  male|39.0|    0|    0| 112050|    0.0|  A36|       S|
|        814|       0|     3|Andersson, Miss. ...|female| 6.0|    4|    2| 347082| 31.275| null|       S|
|        851|       0|     3|Andersson, Master...|  male| 4.0|    4|    2| 347082| 31.275| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+

In [0]:
dfsTitanic.where(F.col("Name").endswith("ez")).show()

+-----------+--------+------+--------------------+----+----+-----+-----+--------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|  Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+--------+-----------+--------+
|        680|       1|     1|Cardeza, Mr. Thom...|male|36.0|    0|    1|PC 17755|512.3292|B51 B53 B55|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+--------+-----------+--------+

### Clausula Substrin

In [0]:
dfsTitanic.select(F.col("sex"), F.col("sex").substr(1,1)).show()

+------+--------------------+
|   sex|substring(sex, 1, 1)|
+------+--------------------+
|  male|                   m|
|female|                   f|
|female|                   f|
|female|                   f|
|  male|                   m|
|  male|                   m|
|  male|                   m|
|  male|                   m|
|female|                   f|
|female|                   f|
|female|                   f|
|female|                   f|
|  male|                   m|
|  male|                   m|
|female|                   f|
|female|                   f|
|  male|                   m|
|  male|                   m|
|female|                   f|
|female|                   f|
+------+--------------------+
only showing top 20 rows

In [0]:
dfsTitanic.select(F.col("Ticket"), F.col("Ticket").substr(3,2)).show()

+----------------+-----------------------+
|          Ticket|substring(Ticket, 3, 2)|
+----------------+-----------------------+
|       A/5 21171|                     5 |
|        PC 17599|                      1|
|STON/O2. 3101282|                     ON|
|          113803|                     38|
|          373450|                     34|
|          330877|                     08|
|           17463|                     46|
|          349909|                     99|
|          347742|                     77|
|          237736|                     77|
|         PP 9549|                      9|
|          113783|                     37|
|       A/5. 2151|                     5.|
|          347082|                     70|
|          350406|                     04|
|          248706|                     87|
|          382652|                     26|
|          244373|                     43|
|          345763|                     57|
|            2649|                     49|
+----------------+-----------------------+
only showing top 20 rows

### Clausula Between

In [0]:
dfsTitanic.where(F.col('Age').between(25,45)).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| null|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|   26.0| null|       S|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697| 7.2292| null|       C|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|   80.0|  B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|           36973| 83.475|  C83|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### Modificando nombres de columnas

In [0]:
dfsTitanic = dfsTitanic.withColumnRenamed('Age', 'Edad')
dfsTitanic.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Edad|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### Distinct

Una llamada al método `distinct` es lo mismo que al método `dropDuplicates` sin parámetro. Es decir, tiene en cuenta todas las columnas. También se utiliza normalmente para contar los valores únicos de una columna.

In [0]:
# Usamos la funcion distinct
dfsTitanic.select('Embarked').distinct().show(5)

+--------+
|Embarked|
+--------+
|       Q|
|    null|
|       C|
|       S|
+--------+

### Agregando Columnas

Usamos la sentencia **withColumn()**

In [0]:
# Agregar Columna
dfsTitanic = dfsTitanic.withColumn('GENERO', F.col("sex").substr(1,1))
dfsTitanic.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex|Edad|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|GENERO|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|     m|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     f|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|     f|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     f|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|     m|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 5 rows

In [140]:
# Modificar Columna
dfsTitanic = dfsTitanic.withColumn('GENERO', F.upper(F.col("sex").substr(1,1)))
dfsTitanic.show(5)

+--------+------+------+----+-----+-----+----------------+-------+-----+--------+------+
|Survived|Pclass|   Sex|Edad|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|GENERO|
+--------+------+------+----+-----+-----+----------------+-------+-----+--------+------+
|       0|     3|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|     M|
|       1|     1|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     F|
|       1|     3|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|     F|
|       1|     1|female|35.0|    1|    0|          113803|   53.1| C123|       S|     F|
|       0|     3|  male|35.0|    0|    0|          373450|   8.05| null|       S|     M|
+--------+------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 5 rows



### Drop

El método `drop` tiene la función contraria al `withColumn`, elimina un subconjunto de columnas. En este caso no se puede pasar una lista de columnas, es necesario utlizar el operador `*` para convertirlo a parámetros indivuales.

**OJO:** Si se intenta eliminar una columna que no existe no devuelve error.

In [0]:
# Forma 1
dfsTitanic = dfsTitanic.drop('GENERO')
dfsTitanic.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Edad|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [0]:
# Forma 2
columnas = ['PassengerId','Name']
dfsTitanic = dfsTitanic.drop(*columnas)
dfsTitanic.show(5)

+--------+------+------+----+-----+-----+----------------+-------+-----+--------+
|Survived|Pclass|   Sex|Edad|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+--------+------+------+----+-----+-----+----------------+-------+-----+--------+
|       0|     3|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|       1|     1|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|       1|     3|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|       1|     1|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|       0|     3|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+--------+------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows